body {
	background: #141414;
	color: #ffffff;
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.image-container {
	position: relative;
	transition: transform 0.2s;

}
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}
.poster-image {
  width: 150px; 
  height: auto; 
  object-fit: cover;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;

}
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); 
  gap: 16px; 
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  max-width: 200px; 
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
  max-height: 300px; 
  border-radius: 10px;
}

.image-container:hover {
  transform: scale(1.05);
  cursor: pointer;
}

